@model IEnumerable<ecomapp.Models.CartViewModel>

@{
    decimal? x = 0;
}
<h2>CART</h2>
<table class="table">
    <tr>
        <th>

        </th>
        <th>
            Product
        </th>
        <th>
            Unit Price
        </th>
        <th>
            Qty
        </th>
        <th>
            Total Price
        </th>
        <th>

        </th>
    </tr>

    @foreach (var item in Model)
    {

        if (item.ItemId > 0)
        {



            x = x + item.ItemTotalPrice;


            <tr>
                <td>
                    <img src="@item.ItemImagePath" style="width:50px;" />
                    <input type="hidden" value="@item.ItemId" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ItemName)
                </td>

                <td>
                    $  @Html.DisplayFor(modelItem => item.ItemUnitPrice)
                </td>
                <td>
                    <input type="text" value="@item.ItemQuantity" class="form-control " style="width:50px;" />

                </td>
                <td>
                    $ @Html.DisplayFor(modelItem => item.ItemTotalPrice)
                </td>
                <td>
                    <a href="/Products/DeleteItemCart/@item.ItemId" class="btn btn-xs btn-danger">X</a>
                </td>


            </tr>
        }
    }
    



</table>


@using (Html.BeginForm("ValidateCommand", "PayPal", "Post"))

{

    @Html.AntiForgeryToken()

    ViewBag.CartTotal = x;

<div class="row" style="max-width:400px; margin:20px;">
    <div class="col-xs-12 col-md-6">
        Products:
    </div>
    <div class="col-xs-12 col-md-6">
        <input type="text" name="products" value="my products from bag" class="form-control" />
    </div>
    <div class="col-xs-12 col-md-6">
        Total Price:
    </div>
    <div class="col-xs-12 col-md-6">
        <input type="text" name="totalPrice" value="@ViewBag.CartTotal" class="form-control" />

    </div>
    <div class="col-xs-12">
        <div>
            <button type="submit" value="Checkout" class="btn-lg btn btn-success">Place Order</button>
        </div>
    </div>
</div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}